.alarms-screen {
  display: flex;
  flex-direction: column;
  height: 100%;

  .filter-bar {
    position: sticky;
    position: -webkit-sticky;
    top: calc(5rem + 1px);
  }

  .toolbar {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
  }
}

@media screen and (max-width: 700px) {
  .alarms-screen {
    .filter-bar {
      top: calc(2rem + 5px);
    }

    .toolbar {
      bottom: 3.25rem;
    }
  }
}
