.shuffle-button {
  align-items: center;
  appearance: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 1.25rem;
  padding: 0.5rem;
  cursor: pointer;

  &__icon {
    flex: 0 0;
    font-size: 1.25rem;
    margin: 0;
    padding: 1rem;
  }

  &__bg {
    --size: 1.25rem;
    pointer-events: none;
    position: absolute;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
