@keyframes appear {
  0% {
    transform: scale(0.5, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes pulse {
  0% {
    transform: none;
    opacity: 0.8;
  }
  40% {
    transform: scale(3);
    opacity: 0;
  }
  60% {
    transform: none;
  }
  100% {
    opacity: 0;
  }
}
