:root {
  --fs-title: 2rem;
  --fs-title--big: 3rem;
  --fs-subtitle: 1.5rem;
  --fs-text: 1rem;
  --fs-text--medium: 1.25rem;
  --fs-text--small: 0.9rem;
}

@media screen and (max-width: 700px) {
  :root {
    --fs-title: 1.3rem;
    --fs-title--big: 2rem;
    --fs-subtitle: 1.25rem;
  }
}
